@use "../common/ui/assets/colors";

.taskList {
  width: 100%;

  .deleteBtn {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 12px 28px;
    background-color: colors.$danger;
    display: block;
    margin-left: auto;
    cursor: pointer;

    span {
      color: colors.$white;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;

      svg {
        fill: colors.$white;
        width: 18px;
      }
    }
  }
}

.nav {
  width: 100%;
  border-bottom: 1px solid colors.$gray-4;
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;

  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

    .navItem {
      font-weight: 600;
      font-size: 14px;
      color: colors.$black-1;
      display: inline-block;
      min-width: 90px;
      cursor: pointer;

      span {
        display: inline-block;
        margin-bottom: 16px;
      }

      .activeBar {
        border-radius: 4px 4px 0 0;
        width: 90px;
        height: 4px;
        background-color: colors.$primary;
      }
    }
  }
}
